

.item {
    width: 340px;
    height: 130px;
    margin: 5px 10px 5px 10px;
    display: flex;
    margin: 50px 10px 0px 400px;
  }
  
  .carr-img {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carr-desc {
    background-color: yellowgreen ;
    width: 75%;
    display: flex;
    flex-direction: column;
  }
  
  .titulo-prod {
    background-color: grey ;
    height: 40%;
    display: flex;
    justify-content: space-between;
    padding: 5px 3px 5px 3px;
    
  }
  
  .titulo-prod p {
    background-color: red;
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
    padding: 0px;
    display: inline;
  }
  
  
  
  
  
  
  .carr-unidades {
    background-color: white;
    height: 70%;
    display: flex;
    background-color: blue ;
  }
  
  .carr-input {
    margin: 0px;
    background-color: rgb(154, 155, 153);
    width: 60%;
  }
  
  .carr-input input {
    width: 50px;
    height: 30px;
    padding: 0px;
    margin: 10px 0px 0px 10px;
  }
  
  .carr-input p {
    margin: 0px;
    padding: 0px;
  }
  
  #carr-input {
    width: 10px;
  }
  
  .unid-finales {
    background-color: rgb(180, 180, 180);
    width: 40%;
  }
  
  #unid-finales-samsung {
    margin: 10px 0px 0px 10px;
  }
  
  .carr-img > img {
    width: 80%;
    height: auto;
  }