
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

body {
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}




.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}







.home {
    background-color: rgb(255, 123, 0);
    height: 280px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home p {
    font-size: 32px;
    font-weight: 800;

}


.logo{
    display: flex;
    flex-direction: row;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.carrito {
    display: flex;
    flex-direction: row;
    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal {
    display: flex;
    flex-direction: row;
    margin: 0px;
}



.menu {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-weight: 700;
    padding: 10px;
    padding-top: 0px;
    margin-left: 10px;
  
}

.titulo {
    font-size: 15px;
    font-weight: 600;
}


.filtro {
    display: flex;
    width: 200px;
    padding: 10px;
    background-color: blue;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px;

}

.filtro > #f {
    justify-self: flex-start;
    font-size: 18px;
    font-weight: 600;
    flex-grow: 1;
}

.filtro > #l {
    font-size: 12px;
    font-weight: 300;
    flex-grow: 3;
 
    
}

#trash {
    width: 15px;
}


.busqueda {
    display: flex;
    padding: 10px 10px 20px 10px;
    flex-direction: column;
}


.search {
    width: 100%;
    height: 40px;
    border-bottom: solid black 2px;
    display: flex;
    justify-content: flex-end;
}


#lupa {
    width: 18px;
    padding: 12px ;
}



.categoria {
    display: flex;
    padding: 10px 10px 20px 10px;
    flex-direction: column;




}

.categoria > .titulo {
    margin-bottom: 12px;
}



.contenedor-items {
    display: flex;
    flex-direction: column;

}


.cat-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.cat-item > p {
    font-size: 12px;
    margin: 0px;
    margin-right: 10px;
    
}

.cat-item > input {
    margin-right: 10px;
}

.cat-item .grupo {
    margin-right: 10px;
    
}



.puntaje {
    display: flex;
    padding: 10px 10px 20px 10px;
    flex-direction: column;
  

}

.puntaje > .titulo {
    margin-bottom: 12px;
}

.puntaje #starvacia {
    width: 15px;
}









.productos {
     margin: 0px 5px 0px 5px;
    
}


.vista-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 10px 20px 10px;
    background-color: white;
}

.vista-productos p {
    font-size: 15px;
}


.menu-vistas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: space-evenly;

}

#grid {
    width: 20px;

}

#list {

    width: 20px;

}


.catalogo-productos{    
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}


.tarjeta {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 50px 30px;
    
}

.foto-producto {
    width: 250px;
    height: 250px;
    
    display: flex;
    justify-content: center;
}

.img-prd {
    height: 100%;
}

.desc-producto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}


.title, .precio, .calificacion {
    padding: 5px;
    margin: 0px;
  
}

.title > p {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}
.precio > p {
    margin: 0px;
    font-size: 15px;
}
.calificacion > p {
    margin: 0px;
}

.calificacion {
    margin: 10px;
}

.stars{
    display: flex;
    flex-direction: row;
}

#starfull {
   
    width: 18px;

}

#starvacia {

    width: 18px;


}

.comprar {
    background-color: rgb(199, 199, 199);
    font-size: 13px;
    font-weight: 600;
    align-self: stretch;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.comprar > p {
    margin: 0px;
}





footer {
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer  p {
    font-size: 15px;
    font-weight: 500;
}