
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700&display=swap');

body {
    background-color: #e4e4e4;
    font-family: 'Montserrat', sans-serif;
}




.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}







.home {
    background-color: rgb(255, 123, 0);
    height: 280px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.home p {
    font-size: 32px;
    font-weight: 800;

}


.logo{
    display: flex;
    flex-direction: row;
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.carrito {
    display: flex;
    flex-direction: row;

    width: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.principal {
    display: flex;
    flex-direction: row;
    margin: 0px 5px 0px 5px;
  
}

.menu-filtros {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-weight: 700;
    padding: 10px;
    background-color: grey;
}


.filtros {
    display: flex;
    padding: 20px;
    flex-direction: row;
    background-color: blue;



}


.busqueda {
    display: flex;
    padding: 15px 30px 15px 30px;
    flex-direction: column;
    background-color: red;

}


.categoria {
    display: flex;
    padding: 15px 30px 15px 30px;
    flex-direction: column;
    background-color: blue;

}


.puntaje {
    display: flex;
    padding: 15px 30px 15px 30px;
    flex-direction: column;
    background-color: red;

}





.productos {
     margin: 0px 10px 0px 10px;
    
}


.vista-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin: 0px 10px 20px 10px;
    background-color: white;
}

.vista-productos p {
    font-size: 15px;
}


.menu-vistas {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    justify-content: space-evenly;

}

#grid {
    width: 20px;

}

#list {

    width: 20px;

}


.catalogo-productos{    
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    
}


.tarjeta {
    background-color: white;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px 50px 30px;
    
}

.foto-producto {
    width: 250px;
    height: 250px;
    
    display: flex;
    justify-content: center;
}

.img-prd {
    height: 100%;
}

.desc-producto {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
}


.title, .precio, .calificacion {
    padding: 5px;
    margin: 0px;
  
}

.title > p {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
}
.precio > p {
    margin: 0px;
    font-size: 15px;
}
.calificacion > p {
    margin: 0px;
}

.calificacion {
    margin: 10px;
}

.stars{
    display: flex;
    flex-direction: row;
}

#starfull {
   
    width: 18px;

}

#starvacia {

    width: 18px;


}

.comprar {
    background-color: rgb(199, 199, 199);
    font-size: 13px;
    font-weight: 600;
    align-self: stretch;
    padding: 20px;
    text-align: center;
    margin-top: 10px;
}

.comprar > p {
    margin: 0px;
}





footer {
    background-color: white;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

footer  p {
    font-size: 15px;
    font-weight: 500;
}